/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: lightgray;
}
body{
    width: 100%;
    height: 100%;
    background: url("images/sitebg.jpg") no-repeat center fixed;
    background-size: cover;
}
body {
  background-color: #111111;
  margin: 0;
  overflow-x: hidden;
}
footer {
        font-family: 'Roboto', sans-serif;
    color: lightgray;
}
.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
a{
    text-decoration: none;
    color: lightgray;
}
p{
    font-size: 1.8rem;
    font-weight: 300;
}
img{
    width: 100%;
}

/*End global*/

/*Start reusable*/
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.section-heading{
    text-align: center;
    margin-bottom: 10rem;
}
.section-heading h1{
    font-size: 3.5rem;
    color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, .75);
}
.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .5rem;
}
.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100rem;
    bottom: -1rem;
}
.section-heading h6{
    font-size: 2rem;
    font-weight: 300;
}
/*End reusable*/

/*Start header*/
header{
    width: 100%;
    height: 100vh;
}
.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #1a1a1d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}
.landing-text{
    position: absolute;
    top: 35%;
    /*left: 50%;*/
    transform: translate(-50%, -50%,);
    width: 100%;
    text-align: center;
    z-index: 1;
}
.landing-text h1{
    font-size: 20rem;
    font-family: 'Vampiro One', sans-serif;
    background: linear-gradient(to top, #c3073f, #6f2232);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}
.landing-text h6{
    font-size: 2rem;
    font-weight: 300;
}
/*End header*/

/*Start about*/
.about .container{
    margin-top: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}
.about-heading h1{
    font-size: 10rem;
    opacity: .3;
}
.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
}
.profile-img{
    flex: 1;
    margin-right: 5rem;
}
.about-details{
    flex: 1;
}
.social-media{
    margin-top: 5rem;
}
.social-media i{
    font-size: 5rem;
    transition: color 650ms;
}
.fa-github:hover{
    color: #bd2c00;
}
.fa-steam:hover{
    color: #000000;
}
.fa-discord:hover{
    color: #7289da;
}
/*End about*/

/*Start portfolio*/
/*End services*/

/*Start timeline*/
/*End timeline*/

/*Start contact*/
/*End contact*/

/*Start footer*/
/*End footer*/

/*Start animations*/
/*End animations*/

/*Start media queries*/
/*End media queries*/
